streamlit
numpy
Pillow
torch
transformers
sentence-transformers
tokenizers
langchain
langchain-core
langchain-community
langchain-huggingface
faiss-cpu
huggingface_hub
datasets
scipy
scikit-learn
pydantic
